:root {
  --primary-body-color: #ffffff;
  --secondary-body-color: rgba(47, 48, 58, 0.8);
  --tertiary-body-color: #f5f4fa;
  --header-body-color: #ffffff;
  --footer-body-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --accent-color: #2196f3;
  --copypast-color: rgba(255, 255, 255, 0.4);
  --logo-black-color: #000000;
  --border-color: #eeeeee;
}

header {
  background-color: var(--header-body-color);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-body-color);
  color: var(--primary-text-color);
}

footer {
  background-color: var(--footer-body-color);
}

/* Common properties */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links,
.logo {
  text-decoration: none;
}

.section-title {
  margin-top: 0;
  padding-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.smalltitle {
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Header*/

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-black-color);
}

.logo-blue {
  color: var(--blue-color);
}

.logo.inverse {
  color: var(--white-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .links {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.site-nav .links:hover,
.site-nav .links:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.post-call {
  display: flex;
  margin-left: auto;
}

.post-call .item + .item {
  margin-left: 30px;
}

.post-call .links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.post-call .links:hover,
.post-call .links:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-section {
  height: 600px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--blue-color);
  color: var(--white-color);
}

.button:hover,
.button:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
  min-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* Our advantages */

.advantage-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage {
  margin-bottom: 94px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
}

.advantage-list .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advantage-list .item:nth-child(4n) {
  margin-right: 0;
}

.advantage-image {
  width: 270px;
  height: 120px;
  background: var(--tertiary-body-color);
}

.advantage .smalltitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* Competence */

.competence-container {
  padding-bottom: 94px;
}

.competence-list {
  display: flex;
  flex-wrap: wrap;
}

.competence-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 0;
}

.competence-list .item:nth-child(3n) {
  margin-right: 0;
}

.competence .smalltitle {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--secondary-body-color);
  color: var(--white-color);
}

.competence .smalltitle:hover,
.competence .smalltitle:focus {
  color: var(--accent-color);
}

/* Our team  */

.team-container {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--tertiary-body-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .item {
  width: calc((100% - 90) / 4);
  margin-right: 30px;
  margin-bottom: 0;
}

.team-list .item:nth-child(4n) {
  margin-right: 0;
}

.our-force {
  color: var(--secondary-text-color);
}

.names {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.position {
  margin-top: 10px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--secondary-text-color);
}

.social-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: 32px;
  padding-top: 16px;
  padding-bottom: 24px;
  margin-left: 32px;
}

.social-items .item {
  margin-right: 10px;
  width: 44px;
}

.social-items .item:nth-child(4n) {
  margin-right: 0;
}

/* Regular customers */

.customers-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
}

.customers-list .item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
  margin-bottom: 0;
}

.customers-list .item:nth-child(6n) {
  margin-right: 0;
}

/* Footer */

.footer {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  /* justify-content: space-between; */

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.address-footer {
  margin-right: 69px;
}

.address-list {
  font-style: normal;
}

.social-links-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.city-adress {
  margin-top: 20px;

  color: var(--white-color);
}

.footer-contacts {
  margin-top: 9px;

  color: var(--copypast-color);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.social-contacts {
  margin-right: 94px;
}

.social-links-list .item {
  margin-right: 10px;
  width: 44px;
  padding-top: 32px;
  padding-bottom: 68px;
}

.social-items .item:nth-child(4n) {
  margin-right: 0;
}

.social-links .smalltitle,
.sign-in .smalltitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
}

.button-subscription {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 28px 10px 29px;
  min-width: 200px;

  text-align: center;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--blue-color);
  color: var(--white-color);
}

.button-subscription:hover,
.button-subscription:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
}

.developers {
  margin-top: 18px;
  padding-bottom: 21px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;

  color: var(--copypast-color);
}

/* PORTFOLIO */

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0;
}

.button-filter {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.container-cards {
  padding-top: 50px;
  padding-bottom: 94px;
  background-color: var(--copypast-color);
}

.list-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.link-card {
  display: block;
}

.image-card {
  display: block;
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  background: var(--white-color);
}

.card-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.card-description {
  margin: 0;
  padding-top: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  color: var(--secondary-text-color);
}

.text-inside {
  display: none;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-color);
}
